@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <H4>Welcome to the Homepage of Robert Freid</H4>
    <p>This is the Final Project for the ASP.Net Core MVC Web Development Class</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
